body {
    font-family: 'Open Sans', sans-serif;
}

video{
    width: 0;
    height:0;
}

button:first-child {
    margin:0px 10px 0px 0px;
}

button{
    margin:0 10px;
}

.canvas-holder{
    display: none;
}